<section class="blog-container">
    <aside class="sidebar">
      <h2>Nueva Noticia</h2>
      <form (ngSubmit)="agregarNoticia()" class="formulario">
        <div class="form-group">
          <label>Título:</label>
          <input type="text" [(ngModel)]="nuevaNoticia.title" name="title" required>
        </div>
  
        <div class="form-group">
          <label>URL Imagen:</label>
          <input type="url" [(ngModel)]="nuevaNoticia.image" name="image" required>
        </div>
  
        <div class="form-group">
          <label>Descripción:</label>
          <textarea [(ngModel)]="nuevaNoticia.description" name="description" required></textarea>
        </div>
  
        <button type="submit">Publicar</button>
      </form>
    </aside>
  
    <div class="content">
      <section class="news-list">
        <h2>Últimas Publicaciones</h2>

          <div class="noticia-item">
            <img alt="Imagen noticia">
            <h3></h3>
            <p></p>
            <small></small>
          </div>

      </section>
    </div>
</section>
  
  